<!DOCTYPE html>
<html>
<head>
    <title>Simple Web Chatbox</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/ChatController.js"></script>
</head>
<body ng-app="chatbox" ng-controller="ChatController as chat">
    <div>
        <div id="messageList" style="height: 300px; overflow-y: scroll;" scroll-bottom="chat.messages">
            <div ng-repeat="message in chat.messages">
                <b>{{ message.user }}:</b> {{ message.message }} <small>{{ message.timestamp }}</small>
            </div>
        </div>
        <input type="text" ng-model="chat.message" ng-keypress="($event.which === 13) && chat.sendMessage()" placeholder="Type a message..." />
        <button ng-click="chat.sendMessage()">Send</button>
    </div>
</body>
</html>